<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
		<meta charset ="UTF-8">
		<title>TITLE</title>
</head>

<head>
    <title>Search{% if query %} Results{% endif %}</title>
</head>
<body>
  <h1>Search</h1>
<form id="searchform" action="" method="get" accept-charset="utf-8">
  <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search..." value='{{request.GET.q}}'>
  <input type="submit" value="Search">
</form>
 
</body>



<body>

{% for stu in users %}
	<p>{{stu.c_name}}</p>
	<p>{{stu.c_address}}</p>
	<p>{{stu.c_comment}}</p>

	<br>

{% endfor %}

</body>
</html>

